* {
    box-sizing: border-box;
  }
  
  body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 16px;
    justify-content: flex-start;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  header {
    padding: 40px;
    text-align: left;
    background: #13293d;
    color: #fff;
  }

  header img {
    justify-content: right;
  }

 nav {
    display: flex;
    background-color: coral;
 }

 nav a {
   color: #13293d;
   padding: 14px 20px;
   text-decoration: none;
   text-align: center;
 }

 nav a:hover {
  background-color: whitesmoke;
  color: #13293d;
}
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Floating columns next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }